@font-face { font-family: AC; src: url('animal-crossing.otf'); } 

html, body {
	font-family: AC !important;
	background-color: #bef7ff;
	margin, padding: 0;
	height: 100%;
}

#house {
	position: fixed;
	bottom: 0;
	right: 0;
}

.hidden {
  display: none;
}

.pitch {
  display: inline-block;
  width: 25px;
  margin:5px;
}

.pitch-name {
  text-align: center;
}

.pitch-slider {
  -webkit-appearance: slider-vertical;
  width: 4px;
  height: 75px;
}

